.custom-dropdown .custom-dropdown-button {
  background-color: #326694;
  color: white;
  border-radius: 5px;
  border: none;
  padding: 0.5rem 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.custom-dropdown .custom-dropdown-button:hover {
  color: rgb(236, 234, 234);
  padding: 0.8rem 0.8rem;
  background-color: rgb(44, 120, 139);
  transition: padding 0.3s;
}

.custom-dropdown .custom-dropdown-menu {
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(216, 216, 216);
  border-radius: 5px;
  position: fixed;
  padding: 0.5rem 0rem;
}

.custom-dropdown .custom-dropdown-menu a {
    color: black;
    display: block;
    height: 2rem;
    padding: 0rem 2rem;
    display: flex;
    align-items: center;
}

.custom-dropdown .custom-dropdown-menu a:hover {
  background-color: rgb(216, 216, 216);
  text-decoration: none;
  border: 1px solid rgb(198, 198, 198);
}
