
/* Removendo espaçamentos padrão do bootstrap */

.custom-container *,
.custom-footer * {
  margin: 0px;
  padding: 0px;
}

/* Customização do bootstrap do carrosel */

.custom-carousel-caption * {
  padding: 0px;
  margin: 0px;
}

.custom-carousel-caption {
  background: rgba(0, 0, 0, 0.5);
  padding: 0.5rem 0rem;
  border-radius: 5px;
}

/* Elementos sem bootstrap */

/* Custom Container */

.custom-container {
  padding: 0rem 6rem;
  background: linear-gradient(to bottom, #fffaf0, #fff2d8);
}

.custom-padding {
  padding: 50px 20px;
}

/* Padrão */

.section-header {
  padding-top: 3rem;
  padding-bottom: 1rem;
  display: flex;
  justify-content: space-between;
}

.section-header button {
  border: none;
  border-radius: 20px;
  padding: 0rem 1.5rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background-color: #fffbf6;
  font-weight: bold;
}

.section-header button:hover {
  background-color: #e4d7bc;
}
.display_cards{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  background: linear-gradient(to bottom, #fffaf0, #fff2d8);
  margin-top: 3rem;
  margin-bottom: 3rem;
}
.container {
  width: 18.75rem;
  height: 25rem;
  border-radius: 0.625rem;
  box-shadow: 0rem 0.313rem 0.938rem 0rem black;
  position: relative;
  overflow: hidden;
}
.card{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.card img {
  width: 100%;
  height: 50%;
  border-radius: 0.625rem 0.625rem 0 0;
}
.card h2 {
  text-align: center;
  color: black;
}
.detalhes {
  padding: 3.25rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1.25rem;
  margin-top: 0%;
}
.detalhes p {
  text-align: center;
}