.navbar .navbar-brand img {
    width: auto;
    height: 80px;
  }
.navbar .navbar-brand p {
    margin: 0px 20px;
  }
body{
  background: linear-gradient(180deg, #FFF2D8 0%, #FFFAF0 100%);


    }
.h2{
    justify-content: center; 
}
.card, col{
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    display: grid;
    justify-items: center;
    
  
}
.card-title{
    color: #212529;
    text-align: center;
    font-size: 0.8rem;
    
}