/* Removendo espaçamentos padrão do bootstrap */

.custom-container *,
.custom-footer * {
  margin: 0px;
  padding: 0px;
}

/* Customização do bootstrap do carrosel */

.custom-carousel-caption * {
  padding: 0px;
  margin: 0px;
}

.custom-carousel-caption {
  background: rgba(0, 0, 0, 0.7);
  padding: 0.5rem 0rem;
  border-radius: 5px;
}

/* Elementos sem bootstrap */

.locais {
  background-color: rgb(226, 116, 116);
}

.avaliacoes {
  background-color: rgb(167, 198, 119);
}

.custom-footer {
  background-color: rgb(211, 206, 133);
}
