.custom-footer {
  display: flex;
  justify-content: space-between;
  align-items: end;
  padding: 1.5rem 1.5rem;
  color: white;
  background: linear-gradient(45deg, #a934c5, #73a7f5);
}

.custom-footer .detalhes {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.custom-footer .detalhes .pessoa {
  display: flex;
  align-items: center;
  gap: 6px;
}

.custom-footer .detalhes img {
  height: 25px;
  border-radius: 50%;
}

.custom-footer .redes {
  display: flex;
  gap: 1rem;
}

.custom-footer .redes i {
  font-size: 2rem;
}

@media (max-width: 768px) {
  .custom-footer {
    gap: 1.5rem;
    flex-direction: column;
    text-align: center;
    align-items: center;
  }

  .custom-footer .detalhes .pessoa {
    margin: 0rem 1rem;
  }
}
